<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat com Gemini</title>
    <!-- Use url_for para encontrar o arquivo na pasta 'static' -->
    <link rel="stylesheet" href="{{context_path}}{{ url_for('static', filename='style.css') }}">
    <script>
        const contextPath = "{{context_path}}";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <header>
        <div>
            <h1>
                <span style="display: none;">Santo Digital - Cloud Consulting Service</span>
                <img src="{{context_path}}{{ url_for('static', filename='images/santo-digital-logo.png') }}" alt="">
            </h1>
        </div>
    </header>
    <main class="chat-container">
        <h1>Kubernetes Day API Gemini</h1>
        <p>Digite seu prompt abaixo e clique em "Enviar" para obter uma resposta.</p>

        <form id="prompt-form">
            <textarea id="prompt-input" placeholder="Ex: Qual a distância entre a Terra e a Lua?" rows="10" required></textarea>
            <button id="submit-button" type="submit">Enviar</button>
        </form>

        <div class="response-section">
            <h2>Resposta</h2>
            <div id="loading-indicator" style="display: none;">
                Pensando...
            </div>
            <div id="response-area">
                A resposta da API aparecerá aqui.
            </div>
        </div>
    </main>
    <!-- Use url_for aqui também -->
    <script src="{{context_path}}{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
